<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Start Footer area-->
<div class="footer navbar-fixed-bottom footer-copyright-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="footer-copy-right">
          <p>Copyright © 2023 - Advinteck.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer area-->


<!-- jquery
           ============================================ -->
<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>

<script th:src="@{/js/jquery.autocomplete.min.js}"></script>
<!-- bootstrap JS
         ============================================ -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- wow JS
         ============================================ -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- price-slider JS
         ============================================ -->
<script th:src="@{/js/jquery-price-slider.js}"></script>
<!-- owl.carousel JS
         ============================================ -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- scrollUp JS
         ============================================ -->
<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
<!-- meanmenu JS
         ============================================ -->
<script th:src="@{/js/meanmenu/jquery.meanmenu.js}"></script>
<!-- counterup JS
         ============================================ -->
<script th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
<script th:src="@{/js/counterup/waypoints.min.js}"></script>
<script th:src="@{/js/counterup/counterup-active.js}"></script>
<!-- mCustomScrollbar JS
         ============================================ -->
<script th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- jvectormap JS
         ============================================ -->
<script th:src="@{/js/jvectormap/jquery-jvectormap-2.0.2.min.js}"></script>
<script th:src="@{/js/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/js/jvectormap/jvectormap-active.js}"></script>
<!-- sparkline JS
         ============================================ -->
<script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/js/sparkline/sparkline-active.js}"></script>
<!-- sparkline JS
         ============================================ -->
<script th:src="@{/js/flot/jquery.flot.js}"></script>
<script th:src="@{/js/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/js/flot/curvedLines.js}"></script>
<script th:src="@{/js/flot/flot-active.js}"></script>
<!-- knob JS
         ============================================ -->
<script th:src="@{/js/knob/jquery.knob.js}"></script>
<script th:src="@{/js/knob/jquery.appear.js}"></script>

<!--  wave JS
         ============================================ -->
<script th:src="@{/js/wave/waves.min.js}"></script>
<script th:src="@{/js/wave/wave-active.js}"></script>
<!--  todo JS
         ============================================ -->
<script th:src="@{/js/todo/jquery.todo.js}"></script>
<!-- plugins JS
         ============================================ -->
<script th:src="@{/js/plugins.js}"></script>
<!-- code editor JS
         ============================================ -->
<script th:src="@{/js/code-editor/codemirror.js}"></script>
<script th:src="@{/js/code-editor/sql.js}"></script>
<!-- bootstrap select JS
         ============================================ -->
<script th:src="@{/js/bootstrap-select/bootstrap-select.js}"></script>
<!--  Chat JS
       ============================================ -->
<script th:src="@{/js/chat/moment.min.js}"></script>
<!-- <script th:src="@{/js/chat/jquery.chat.js}"></script> -->
<!-- Data Table JS
         ============================================ -->
<script th:src="@{/js/data-table/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/data-table/data-table-act.js}"></script>
<!-- main JS
         ============================================ -->
<script th:src="@{/js/main.js}"></script>

