<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Erreur fichier Abscent</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body style="background-color:  #e6e6e6">


<div class="card text-center" style="margin-top:20%; width:800px; margin-left:30%" >

  <div class="card-header"><h1> Accès refusé. </h1></div>
  <div class="card-body">
    <h3 align="center" style="color:red;"> Vous n'avez pas accès à cette page.</h3>

    </div>

  </div>

</div>


<script type="text/javascript" th:src="@{/js/autoNumeric.min.js}"></script>
<script type="text/javascript" th:src="@{/js/convention.js}"></script>

</body>


</html>