<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title > CEGIB- Comptabilité Matières</title>
    <div th:replace="fragments/header"></div>
</head>
<body>
<div th:replace="fragments/navBar"></div>
<div class="content">
    <div th:replace="fragments/menu"></div>
    <div class="alert-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert-list">
                        <div th:replace="fragments/message"></div>
                        <div th:if="${param.error}" class="alert alert-danger">
                            Email ou mot de passe incorrect.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            Vous êtes déconnecté
                        </div>
                        <div th:if="${param.expired}" class="alert alert-danger">
                            Votre session a expiré. Veuillez vous reconnecter.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>